/*
Theme Name: Numerica
Theme URI: https://gitlab.com/andre0ani/numerica
Author: Patrice Andreani
Author URI: https://andre-ani.fr
Description: Simple, lightweight WordPress theme
Version: 2.0
Requires at least: 6.3
Tested up to: 6.4
Requires PHP: 7.4
Text Domain: numerica
Domain Path: /languages
Tags: blog, custom-menu, custom-logo, one-column, translation-ready, footer-widgets
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

@font-face {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    src: local("Ubuntu Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Roboto-Light");
    font-weight: 400;
    font-display: swap;
}

.icon {
    color: #019587;
}

.side {
    padding-right: 25px;
}

.custom-menu {
    text-align: center;
}

.custom-menu li {
    display: inline-block;
    margin-right: 10px;
}

.custom-menu ul {
    list-style: none;
    padding: 0 ;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-menu a:link {
    text-decoration: none;
    color:  #c8c8c8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-menu a:hover {
    color:  #f2a438;
}

.footer-text {
    text-align: left;
}

.widget_text {
    border-bottom: 1px solid white;
    color:  #252525 ;
}

.contenu {
    display: flex;
}

body {
    font-family: "system-ui";
    color:  #d5d5d5;
    background-color:  #252525 ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h6,
.h6 {
    margin-top: 0;
    font-family: 'ubuntu-v15-latin-regular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #073547;
}


h5,
.h5 {
    color: #01415B;
}

.contact {
    color: #d5d5d5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

i {
    color: #019587;
}

img {
    height: auto;
    max-width: 100%;
    background-color: white;
}

hr {
    background-color: #f2a438;
}


.custom-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

#error {
    background-color: #137c8b;
    color:  #d5d5d5;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 210px;
    margin-top: 15px;
}

#error a:link {
    color: #005148;
}

#error a:hover {
    color: white;
}

@media (min-width:1200px) {
    .container {
        width: 970px;
    }
}

.blog-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .menu-smart {
        width: 80%;
        height: auto;
        text-align: left;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .pure-menu-list {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    .pure-menu-item {
        width: 100%;
    }

    .custom-menu {
        text-align: left;
        margin-left: 0;
    }
}

.navbar-toggler a:hover {
    color: #f2a438;
}

a:link {
    color: #709ca7;
}

a:hover {
    color: #f2a438;
}

a:visited {
    color: #019587;
}


.blog-main {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
}


.button:hover {
    outline: 1px dotted;
    color: #f2a438;
}

.presentationArt2 {
    padding: 20px;
    height: auto;
    color:  #252525 ;
    background-color: #709ca7;
    margin-top: 2px;
    margin-bottom: 15px;
}

.presentationArt {
    color: #89D99D;
    background-color: #709ca7;
    border-radius: 20px 0 0 0;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 10px;
    text-align: left;
    height: auto;
}

.presentationArt a {
    color: #2d2d2d;
}

.presentationArt a:hover {
    color: #f2a438;
}

.lirePlus {
    background-color: #019587;
    color: #2d2d2d;
    padding: 2px;
}

.widgetsB {
    color: white;
    background-color: #137c8b;
    border-radius: 10px 0 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    height: auto;
}

.widgetsB h2 {
    color:  #d5d5d5;
}

.widgetsB h4 {
    color: #005148;
}

.widgetsB h3 {
    color: #005148;
}

.widget-title {
    color: #005148;
}


.widgetsB a {
    color: white;
}

.widgetsB a:hover {
    color: #f2a438;
}

.page {
    margin: auto;
}

.title-article {
    font-weight: 700;
    font-size: 1.3em;
    padding-left: 20px;
    color: white;
    background-color: #137c8b;
}

.title-article a {
    color: white;
}

.blog-post {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 35px;
    font-style: italic;
}

.blog-post-title a {
    color: #5e5e5e;
}

.blog-post-meta a {
    color:  #252525 ;
}

.blog-post-meta {
    margin-bottom: 20px;
    color:  #252525 ;
    font-size: .9em;
}

.blog-post-meta a:hover {
    color: #f2a438;
}

.wp-block-latest-posts__post-date {
    color:  #252525 ;
}

.wp-block-latest-posts__post-author {
    color:  #252525 ;
}

.affichageF {
    display: flex;
    flex-wrap: wrap;
}

.column {
    box-sizing: border-box;
    padding: 15px;
    flex: 1;
    min-width: 250px;
}

.column-flex {
    box-sizing: border-box;
    padding: 15px;
}


.footer2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #252525;
}

.footer2 a {
    color: #709ca7;
}

.footer2 a:hover {
    color: #f2a438;
}

a {
    color: #005148;
}

#comment {
    max-width: 90%;
}

textarea:focus {
    box-shadow: 0 0 5px #3584e4;
    margin: 5px 1px 3px 0;
    border: 1px solid #3584e4;
}

.entry-comments h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

li.comment {
    background-color: #fff;
    border-right: none;
}

.comment-list li {
    font-size: 14px;
    padding: 20px 30px 20px 50px;
}

.comment-list .children {
    margin-top: 40px;
    border: 1px solid #ccc;
}

.comment-list li li {
    background-color: #f5f5f6;
}

.comment-list li li li {
    background-color: #fff;
}

.comment-reply-title {
    color: #d5d5d5;
}
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.entry-comments .comment-author {
    margin-bottom: 0;
    position: relative;
}

.entry-comments .comment-author img {
    border-radius: 50%;
    border: 5px solid #fff;
    left: -80px;
    top: -5px;
    position: absolute;
    width: 60px;
}

.entry-pings .reply {
    display: none;
}

.comment-reply-link:hover {
    color: #fff;
}

.comment-notes {
    display: none;
}

.comment-reply-link {
    cursor: pointer;
    background-color: #444;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 4px 10px;
    text-transform: uppercase;
    width: auto;
}

.comment-reply-link:focus {
    box-shadow: 0 0 5px #3584e4;
    margin: 5px 1px 3px 0;
    border: 1px solid #3584e4;
}


.sub-menu {
    left: -999em;
    position: absolute;
    background: #252525;
}


li:hover>.sub-menu {
    left: auto;
    margin-top: 25px;
}